@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(221, 221, 221);
  border-radius: 1rem;
} */

.header-show {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.header-hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
